# Text backup files
*.bak
#Database
*.sqlite3
# Bootstrap
to_do_list/static/bootstrap*/*
# Font Awesome
to_do_list/static/fontawesome*/*
# pycache
__pycache__
*.pyc
# venv
django-venv
# Env vars
env_vars.json