.tarea-completed {
    background-color: rgb(33, 245, 33);
    border: 5px dashed black;
    color : black;
    width: 430px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    word-break: break-all;
    font-family:Arial;
    font-size:14px;
}

.tarea-incompleted {
    background-color: rgb(241, 94, 94);
    border: 5px dashed black;
    color : black;
    width: 430px;
    height: 250px;
    padding: 10px;
    margin: 10px;
    word-break: break-all;
    font-family:Arial;
    font-size:14px;
}

.button-edit-tarea {
    position: relative; 
    width: 30px;
    height: 30px;
    bottom: 5px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 10px;
}

.button-delete-tarea {
    position: relative; 
    width: 30px;
    height: 30px;
    bottom: 5px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 10px;
}

.button-status-tarea {
    position: relative;
    width: 30px;
    height: 30px;
    bottom: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.text-name-tarea {
    position: relative;
    bottom: 55px;
    left: 110px;
    font-family:Arial; 
    font-size:18px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    height: 50px;
    line-height: 100%;
}

.text-description-tarea {
    position: relative;
    border: 1px solid black;
    bottom: 90px;
    left: 0px;
    font-family:Arial; 
    font-size:14px;
    text-align: left;
    width: 400px;
    height: 130px;
}

.text-date-created-tarea {
    position: relative;
    bottom: 6em;
    left: 0px;
    font-family:Arial; 
    font-size:14px;
    text-align: left;
    width: 400px;
    height: 10px;
}

.text-date-updated-tarea {
    position: relative;
    bottom: 5em;
    left: 0px;
    font-family:Arial; 
    font-size:14px;
    text-align: left;
    width: 400px;
    height: 10px;
}

.pagination {
    justify-content: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.filtro-tareas {
    text-align: center;
}

.form-tarea-create {
    width: 50%; 
    border: 2px solid black;
    border-radius: 10px;
}

.button-save-tarea {
    text-align: center;
    margin: auto;
    width: 100%;
}

a {
    color: rgb(1, 11, 105);
}

.text-logout {
    text-align: center;
    margin: auto;
}

.foot-page {
    margin: auto;
    text-align: center;
}